<html>

	<head>
		
		<!-- title of the page -->
		<title> policyroot </title>
		
		<!-- attach css style sheet -->
		<link rel="stylesheet" type ="text/css" href="{{ url_for('static', filename='policyroot_style.css') }}">

	<head/>




	<body>
		<!-- background image -->
		<div id="index_bg">
		<!-- <img src ="{{ url_for('static', filename='writers-desk.jpg') }}"> -->
		
		
			<!-- the translucent div that holds the login forms -->
			<div class="transbox">
			<h1 class="logo"> policyroot </h1>
			<p> An app that brings community leaders, activists, and policy makers together to share ideas. Let's get to the root of policy together. </p>
				<!-- the form for a user to enter their username -->
				<form action="" method="post" >
				{{form.hidden_tag()}}
	
				{{ form.errors }}
				Username: {{form.email}}
				
				<!-- the form for a user to enter their password -->
				Password: {{form.password}}
				<input type="submit" value="Login">

				</form>

				<!-- the login button -->


				<!--<p><button type="button">Submit</button></p>-->
				<!-- a link for a user to create an account -->
				<br>
				<a href="{{ url_for('sign_up') }}"> create account </a>

				<!-- links for users to go to if they forgot their username or password -->
				<!-- <p><a href="password.html"> Forget Password</a></p>
				<a href="username.html">Username?</a> -->
			</div>
		</div>
	</body>

</html>