<html>
<head>

</head>



<body>


</body>

<form action= "" method= "post" name= "newuser">
	{{form.hidden_tag()}}
First Name: {{form.firstname(size=30)}}
<br>
<br>
Last Name: {{form.lastname(size=30)}}
<br>
<br>
Second Last Name: {{form.secondlastname(size=30)}}
<br>
<br>
State: {{form.state(size=30)}}
<br>
<br>
Email: {{form.email(size=30)}}
<br>
<br>
organization: {{form.organzation(size=30)}}
<br>
<br>
User Name: {{form.username(size=30)}}  
<br>
<br>
Password: {{form.password(size=30)}}

<p><input type="submit" value="Submit"></p>

</form>









</html>