<html>
<head>

</head>



<body>


</body>

<form>
First Name: <input type="First Name" name="Firs Name" placeholder="Primer Nombre">
<br>
<br>
Last Name: <input type="Last Name" name="Last Name" placeholder="Apellido">
<br>
<br>
Second Last Name: <input type="Second Last Name" name"Apellido" placeholder="Apellido">
<br>
<br>
State: <input type="s" name="state" placeholder="state">
<br>
<br>
Email: <input type="Email" name="Email" placeholder="Correo Electronico">
<br>
<br>
organization: <input type="organization" name="organization" placeholder="organizacion">
<br>
<br>
User Name:<input type="text" name="User Name" Placeholder="Nombre de Usuario">
<br>
<br>
Password:<input type="password" name="pwd">

<p><input type="submit" value="Submit"></p>

</form>









</html>