{% extends "base.html" %}
{% block content %}



	<head>
		<title> policyroot - topics </title>
	</head>


	<body>
		<!-- Section 1: Menu Bar -->
		<!-- create a navigation bar to hold the buttons -->
		
		
	<!-- the website logo -->
			

			<!-- the topics dropdown menu -->
			

			<!-- the logout button (redirects to login page) -->
		


		<!-- Section 2: User Profile Information -->



		<!-- Section 3: Main Content -->
		<!-- topics page header -->
		<h1>Immigration<h1>
		<h2> Topics: </h2>
		<a href="{{ url_for('Undocuqueer') }}">Undocuqueer:</a> 
		<br>
		<br>
		<a href="{{ url_for('pathway') }}">Pathway to:</a>
		<br>
		<br>
		<a href="{{ url_for('know_your_rights') }}">Know Your Rights:</a>
		<br>
		<br>
		<a href="{{ url_for('colonialism') }}">Colonialism:</a>
		

	</body>

{% endblock %}